{% extends 'employeeapp/base.html' %}
{% block content %}

<h2>Clock In</h2>

<form method="post">
  {% csrf_token %}
  {% if form.fields %}
    {{ form.as_p }}
  {% else %}
  <p>You will be clocked in as {{ request.user.username }}.</p>
  {% endif %}
  <button type="submit" class="default">Clock In</button>
</form>

<h2>Clock In History</h2>

<a href="{% url 'dashboard' %}" class="btn btn-secondary"
  >Return to Dashboard &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i
></a>

{% endblock %}
