{% extends 'employeeapp/base.html' %}
{% load profile_tags %}
{% block content %}

<h2>{% if active_clockin %}Clock Out{% else %}Clock In{% endif %}</h2>

{% get_user_profile user as profile %}

{% if profile %}
  {% if active_clockin %}
    <p>You are currently clocked in since {{ active_clockin.clock_in_time|date:"H:i:s on F j, Y" }}.</p>

    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Clock Out</button>
    </form>
  {% else %}
    <form method="post">
      {% csrf_token %}
      {% if form.fields %}
        {{ form.as_p }}
      {% else %}
        <p>You will be clocked in as {{ request.user.username }}.</p>
      {% endif %}
        <button type="submit" class="default">Clock In</button>
    </form>
  {% endif %}
  
{% else %}
  <p>You must complete your profile before clocking in.</p>
  <a href="{% url 'create_profile' %}" class="btn btn-primary">Create Profile</a>
{% endif %}
  <h2>Clock In History</h2>

  <a href="{% url 'dashboard' %}" class="btn btn-secondary"
    >Return to Dashboard &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i
  ></a>

{% endblock %}
