{% extends "employeeapp/base.html" %}

{% block content %}
        <p>Welcome, {{ user.username }}</p>
        <h2>Job-Done History</h2>
    <table class="frame">
        <thead>
            <tr>
                <th>ID</th>
                <th>Worker</th>
                <th>Job Title</th>
                <th id="th">Job Done in Hours</th>
                <th>Date Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for jobdone in job_done %}
            <tr>
                <td>{{ jobdone.id }}</td>
                <td>{{ jobdone.worker }}</td>
                <td>{{ jobdone.job_title }}</td>
                <td>{{ jobdone.job_done_in_hours }}</td>
                <td>{{ jobdone.date_created }}</td>
                <td>
                    <a class="btn btn-success btn-sm" href="{% url 'single-job' jobdone.id %}">
                        view
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

