<nav class="navbar">
        <div class="navbar-brand">Employee App</div>
        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
{% comment %} 
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        {% endif %}
         {% endcomment %}
        <ul class="navbar-menu">
            {% if user.is_authenticated %}
            <li class="navbar-item">
                <span class="logged-in-name">
                   Logged in as {{ user.username }} 
                </span>
                </li>
            <li class="navbar-item"><a href="{% url 'employee-clockin' %}">Clock-in</a></li>
            <li class="navbar-item"><a href="{% url 'employee-clockin' %}">Hours</a></li>
            <li class="navbar-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="navbar-item"><a href="{% url 'add-job' %}">Add Job</a></li>
            <li class="navbar-item"><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li class="navbar-item"><a href="{% url 'login' %}">Login</a></li>
            <li class="navbar-item"><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

    <script>
        const mobileMenu = document.getElementById('mobile-menu');
        const navbarMenu = document.querySelector('.navbar-menu');

        mobileMenu.addEventListener('click', () => {
            navbarMenu.classList.toggle('active');
        });

            // Automatically dismiss alerts after 4 seconds
        window.addEventListener('load', function() {
            var alerts = document.querySelectorAll('.alert');
            alerts.forEach(function(alert) {
                setTimeout(function() {
                    var bsAlert = new bootstrap.Alert(alert);
                    bsAlert.close();

                    // Add event listener to handle when alert is fully closed
                    alert.addEventListener('closed.bs.alert', function () {
                        var container = alert.parentElement;

                        // Check if there are any remaining alerts in the container
                        if (container.querySelectorAll('.alert').length === 0) {
                            // Add a class to hide the container
                            container.classList.add('d-none');
                        }
                    });

                }, 4000);
            });
        });

    </script>
