<nav class="navbar">
        <div class="navbar-brand">Employee App</div>
        <div class="navbar-toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="{% url 'clockin' %}">Clock-in</a></li>
            <li class="navbar-item"><a href="{% url 'employee-clockin' %}">Hours</a></li>
            <li class="navbar-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
            <li class="navbar-item"><a href="{% url 'add-job' %}">Add Job</a></li>
            <li class="navbar-item"><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>

    <script>
        const mobileMenu = document.getElementById('mobile-menu');
        const navbarMenu = document.querySelector('.navbar-menu');

        mobileMenu.addEventListener('click', () => {
            navbarMenu.classList.toggle('active');
        });
    </script>
