{% extends 'employeeapp/base.html' %}
{% block content %}
    <h2>Profile Details</h2>
    <ul>
        <li>First Name: {{ profile.first_name }}</li>
        <li>Last Name: {{ profile.last_name }}</li>
        <li>Date of Birth: {{ profile.date_of_birth }}</li>
        <li>Address: {{ profile.address }}</li>
        <li>Phone Number: {{ profile.phone_number }}</li>
        <li>Email Address: {{ profile.email_address }}</li>
    </ul>
    <div class="profile-actions">
        <a href="{% url 'edit_profile' pk=profile.pk %}" class="btn btn-primary">Edit Profile</a>
        <a href="{% url 'delete_profile' pk=profile.pk %}" class="btn btn-danger">Delete Profile</a>
        <a href="{% url 'delete_user' pk=profile.user.pk %}" class="btn btn-warning">Delete Account</a>
        <a href="{% url 'password_change' %}" class="btn btn-secondary">Change Password</a>
    </div>
{% endblock %}
