{% extends 'employeeapp/base.html' %} {% block content %}

<body>
  <div class="container bg-light shadow-md p-5 form-layout text-center">
    <h3>Update Record</h3>

    <h6>Update your record down below.</h6>

    <hr />
    <br />

    <form method="POST" autocomplete="off">
      {% csrf_token %} {{form.worker}}

      <br />

      {{form.related_name}}
      <div class="flex-container">
        <div>{{form.job_title}}</div>
        <div>{{form.job_done_in_hours}}</div>
      </div>

      <br />

      

      <br />

      {{form.date_created}}

      <br />

      <br />

      <button type="submit" class="btn btn-info update">
        Update record &nbsp; <i class="fa fa-plus" aria-hidden="true"></i>
      </button>

      &nbsp;
    </form>
  </div>
  <div>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary update">
      Return &nbsp; <i class="" aria-hidden="true"></i>
    </a>
  </div>

  <br />
</body>

{% endblock %}
