{% extends 'employeeapp/base.html' %} {% block content %}
<div class="container bg-light shadow-md p-5 form-layout frame">
  <h3>View Record</h3>
  <hr />
  <br />
  <p><strong>Worker:</strong> {{ jobdone.worker }}</p>
  <p><strong>Related Name:</strong> {{ jobdone.related_name }}</p>
  <p><strong>Job Title:</strong> {{ jobdone.job_title }}</p>
  <p><strong>Job Done in Hours:</strong> {{ jobdone.job_done_in_hours }}</p>
  <p><strong>Date Created:</strong> {{ jobdone.date_created }}</p>
  <br />
  <a href="{% url 'dashboard' %}" class="btn btn-secondary report"
    >Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i
  ></a>
  &nbsp;
  <a href="{% url 'update-job' jobdone.id %}" class="btn btn-info report"
    >Update Record &nbsp; <i class="fa fa-plus" aria-hidden="true"></i
  ></a>
  &nbsp;
  <a href="{% url 'delete-job' jobdone.id %}" class="btn btn-danger report"
    >Delete &nbsp;<i class="fa fa-minus-square" aria-hidden="true"></i
  ></a>
</div>
{% endblock %}
